.hidden {
  display: none;
}

.show {
  display: block;
}

body {
    width: auto;
    height: auto;
}

html {
    width: auto;
    height: auto;
}

.freelancer {
  padding-left: 30px;
  padding-top: 80px;
  font-family: "Courier New", Times, serif;
}


@media {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.intro-section {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
    text-align: center;
    background: #fff;
    font-family: "Courier New", Times, serif;
}

.about-section {
    height: 50%;
    padding-top: 75px;
    text-align: center;
    background: #292929;
    padding-bottom: 50px;
    color: white;
    font-family: "Courier New", Times, serif;
}

.services-section {
    height: 170%;
    padding-top: 50px;
    text-align: center;
    background: #fff;
    padding-bottom: 50px;
    font-family: "Courier New", Times, serif;

}


.contact-section {
    height: 100%;
    padding-top: 100px;
    text-align: center;
    background: #292929;
    color: white;
    font-family: "Courier New", Times, serif;
}

.footer-section {
  height: 50%;
  background: #fff;
  font-family: "Courier New", Times, serif;
}
