.hidden {
  display: none;
}

.show {
  display: block;
}

body {
    width: auto;
    height: auto;
}

html {
    width: auto;
    height: auto;
}



@media {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.intro-section {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
    text-align: center;
    background: #fff;
}

.about-section {
    height: 50%;
    padding-top: 75px;
    text-align: center;
    background: #eee;
    padding-bottom: 50px;
}

.services-section {
    height: 170%;
    padding-top: 50px;
    text-align: center;
    background: #fff;
    padding-bottom: 50px;
}


.contact-section {
    height: 100%;
    padding-top: 100px;
    text-align: center;
    background: #eee;
}
