<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container" ng-controller="FreelancersCtrl">
        <div class="row">
            <div class="col-lg-6">
                <h1 change-class="bg-danger text-danger">Hire Expert Freelancers For Your Online Job</h1>
                <h5>Millions of small businesses use Freelancer to turn their ideas into reality</h5>
                <br>
                <a class="btn btn-default btn-lg" ui-sref="freelancers">Hire</a>
                <a class="btn btn-default btn-lg" ui-sref="jobs">Work</a>
            </div>
            <div class="col-lg-6">
              <img height="400" width="600" alt="Flower" src="images/nasa.png" />
            </div>
        </div>
    </div>
</section>

<section id="about" class="about-section">
    <div class="container" ng-controller="FreelancersCtrl">
        <div class="row">
            <div class="col-md-6">
                <h1>Turn Big Ideas Into Great Products</h1>
                <h4>You can get anything done on Freelancer. Which great idea will you launch today?</h4>
            </div>
            <div class="col-md-2" ng-mouseenter="texts = !texts" ng-class="{ active: texts }">
              <img height="150" width="150" alt="Flower" src="images/lightbulb.png" />
              <h3 change-class="bg-danger text-danger">Post Your Job</h3>
                <p ng-show="texts">Describe what you need done and tell us your budget.</p></span>
            </div>
            <div class="col-md-2">
              <img height="150" width="150" alt="Flower" src="images/people.png" />
              <h3>Select a Bid</h3>
              <p ng-show="texts">Receive competitive quotes and choose the right freelancer.</p>
            </div>
            <div class="col-md-2">
              <img height="150" width="150" alt="Flower" src="images/check.png" />
              <h3>Job Done</h3>
              <p ng-show="texts">The freelancer completes the work. You pay only when satisfied.</p>
            </div>

        </div>
    </div>
</section>


<section id="services" class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" ng-mouseenter="lions = !lions" ng-class="{ active: lions }">
                <h1>Dream On!</h1>
                <h4>You can get anything done on Freelancer. Which great idea will you launch today?</h4>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <img height="300" width="500" alt="Flower" src="images/webdesign.png" />
          </div>
          <div class="col-md-6">
            <img height="300" width="500" alt="Flower" src="images/graphic design.png" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <img height="300" width="500" alt="Flower" src="images/logodesign.png" />
          </div>
          <div class="col-md-6">
            <img height="300" width="500" alt="Flower" src="images/mobileapp.png" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <img height="300" width="250" alt="Flower" src="images/softdev.png" />
          </div>
          <div class="col-md-3">
            <img height="300" width="250" alt="Flower" src="images/wordpress.png" />
          </div>
          <div class="col-md-3">
            <img height="300" width="250" alt="Flower" src="images/proddesign.png" />
          </div>
          <div class="col-md-3">
            <img height="300" width="250" alt="Flower" src="images/3drenderings.png" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <img height="300" width="250" alt="Flower" src="images/proddesign.png" />
          </div>
          <div class="col-md-3">
            <img height="300" width="250" alt="Flower" src="images/thsirts.png" />
          </div>
          <div class="col-md-3">
            <img height="300" width="250" alt="Flower" src="images/bookcover.png" />
          </div>
          <div class="col-md-3">
            <img height="300" width="250" alt="Flower" src="images/articlewriting.png" />
          </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact-section">
    <div class="container" ng-mouseenter="lions = !lions" ng-class="{ active: lions }">
        <div class="row">
            <div class="col-lg-12" >
              <h1>What Do You Need Done?</h1>
              <h4>With experts in over 850 categories, the only real question is where to start. Check out some of our most popular categories below.</h4>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-1" ng-show="lions">
            <img height="80" width="50" alt="Flower" src="images/websitetag.png" />
          </div>
          <div class="col-md-2" ng-show="lions">
            <h4>Websites, IT & Software</h4>
            <p>PHP HTML MySQL Javascript Software Architecture SEO Wordpress and more</p>
          </div>
          <div class="col-md-1" ng-show="lions">
            <img height="80" width="50" alt="Flower" src="images/mobilephones.png" />
          </div>
          <div class="col-md-2" ng-show="lions">
            <h4>Mobile Phones & Computing</h4>
            <p>PHP HTML MySQL Javascript Software Architecture SEO Wordpress and more</p>
          </div>
          <div class="col-md-1" ng-show="lions">
            <img height="80" width="50" alt="Flower" src="images/writingcontent.png" />
          </div>
          <div class="col-md-2" ng-show="lions">
            <h4>Writing & Content</h4>
            <p>Articles Copywriting Article Rewriting Copy Typing Blog Ghostwriting and more</p>
          </div>
          <div class="col-md-1"></div>
        </div>

        <br>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-1">
            <img height="80" width="50" alt="Flower" src="images/grapweb.png" />
          </div>
          <div class="col-md-2">
            <h4>Graphic & Web Design</h4>
            <p>Website Design Graphic Design CSS Logo Design Photoshop Flash and more</p>
          </div>
          <div class="col-md-1">
            <img height="80" width="50" alt="Flower" src="images/dataentry.png" />
          </div>
          <div class="col-md-2">
            <h4>Data Entry & Admin</h4>
            <p>Data Entry Excel Data Processing Web Search BPO Virtual Assistant and more</p>
          </div>
          <div class="col-md-1">
            <img height="80" width="50" alt="Flower" src="images/engineering.png" />
          </div>
          <div class="col-md-2">
            <h4>Engineering & Science</h4>
            <p>Engineering Electronics Data Mining AutoCAD Electrical Engineering and more</p>
          </div>
          <div class="col-md-1"></div>
        </div>

        <br>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-1">
            <img height="80" width="50" alt="Flower" src="images/productmanufacturing.png" />
          </div>
          <div class="col-md-2">
            <h4>Websites, IT & Software</h4>
            <p>PHP HTML MySQL Javascript Software Architecture SEO Wordpress and more</p>
          </div>
          <div class="col-md-1">
            <img height="80" width="50" alt="Flower" src="images/salesmanufacturing.png" />
          </div>
          <div class="col-md-2">
            <h4>Mobile Phones & Computing</h4>
            <p>PHP HTML MySQL Javascript Software Architecture SEO Wordpress and more</p>
          </div>
          <div class="col-md-1">
            <img height="80" width="50" alt="Flower" src="images/mobilephones.png" />
          </div>
          <div class="col-md-2">
            <h4>Writing & Content</h4>
            <p>Articles Copywriting Article Rewriting Copy Typing Blog Ghostwriting and more</p>
          </div>
          <div class="col-md-1"></div>
        </div>

        <br>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-1">
            <img height="80" width="50" alt="Flower" src="images/translationlanguages.png" />
          </div>
          <div class="col-md-2">
            <h4>Translation & Languages</h4>
            <p>Human Resource Entrepreneurship Project Management Accounting and more</p>
          </div>
          <div class="col-md-1">
            <img height="80" width="50" alt="Flower" src="images/localjobs.png" />
          </div>
          <div class="col-md-2">
            <h4>Local Jobs & Services</h4>
            <p>English (US) English (UK) Spanish French German Arabic Russian and more</p>
          </div>
          <div class="col-md-1">
            <img height="80" width="50" alt="Flower" src="images/other.png" />
          </div>
          <div class="col-md-2">
            <h4>Other</h4>
            <p>Anything Goes Project Dating Testing QA Education Tutoring Health and more</p>
          </div>
          <div class="col-md-1"></div>
        </div>
    </div>
</section>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Scrolling Nav JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/scrolling-nav.js"></script>
